<!-- Footer -->
<footer id="footer">
  
  
  
  
  
  <ul class="icons">
    {% for socloc in site.social %}
    {% if socloc[1] %}
    {% if socloc[0] == 'email' %}
    <li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-envelope-o"
           ><span class="label">E-mail</span></a></li>
    {% else %}
    <li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-{{ socloc[0] }}"
           ><span class="label">{{ socloc[0] }}</span></a></li>
    {% endif %}
    {% endif %}
    {% endfor %}
  </ul>
  

  
  
  <ul class="copyright">
    <li><a target="_blank" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
      <img alt="Creative Commons License" src="https://licensebuttons.net/i/l/by-nc-sa/transparent/ff/ff/ff/80x15.png" /></a></li>
            {% include menu-items.html %}
  </ul>
</footer>
