<li><a href="{{ "/save/" | prepend: site.baseurl }}">Save</a></li>
<li><a href="{{ "/faq/" | prepend: site.baseurl }}">FAQ</a></li>
<li><a href="{{ "/about/" | prepend: site.baseurl }}">About</a></li>
<li><a href="{{ "/news/" | prepend: site.baseurl }}">News</a></li>
<li><a href="{{ "/contact/" | prepend: site.baseurl }}">Contact</a></li>
<li><a href="{{ "/privacy/" | prepend: site.baseurl }}">Terms &amp; Privacy Policy</a></li>
<li>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick" />
    <input type="hidden" name="hosted_button_id" value="MA7ZZG3DJL97E" />
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
    <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
  </form>
</li>
