<li><a href="{{ "/save/" | prepend: site.baseurl }}">Save</a></li>
<li><a href="{{ "/faq/" | prepend: site.baseurl }}">FAQ</a></li>
<li><a href="{{ "/about/" | prepend: site.baseurl }}">About</a></li>
<li><a href="{{ "/team/" | prepend: site.baseurl }}">Our Team</a></li>
<li><a href="{{ "/news/" | prepend: site.baseurl }}">News</a></li>
<li><a href="{{ "/contact/" | prepend: site.baseurl }}">Contact</a></li>
<li><a href="{{ "/privacy/" | prepend: site.baseurl }}">Terms &amp; Privacy Policy</a></li>
<li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=MA7ZZG3DJL97E&source=url">Donate</a></li>
